@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&family=Righteous&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&family=Tilt+Neon&display=swap');

body, html {
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}